#=========================
# Build Output
#=========================
*.o
*.d
*.crf
*.axf
*.map
*.lst
*.lib
*.dep
*.i
*.s

# Firmware
*.hex
*.bin

#=========================
# Keil Output Folder
#=========================
Objects/
Listings/
DebugConfig/

#=========================
# Keil User Files
#=========================
*.uvoptx
*.uvguix.*
*.uvgui.*
*.scvd
*.uvprojx.bak

#=========================
# VSCode
#=========================
.vscode/

#=========================
# Windows
#=========================
Thumbs.db
Desktop.ini

#=========================
# Logs
#=========================
*.log

#=========================
# Temporary
#=========================
*.tmp
*.temp

#=========================
# Backup Files
#=========================
*.bak
*.old
*~